.tt_dn {
    /* width: 0%; */
    margin-bottom: 10px;
    border-radius: 10px;
}
.uudai {
    background: #fff;
    padding: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}
.uudai .tt_dn a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.uudai a > img {
    width: 100%;
    object-fit: cover;
    height: 113px;
    max-width: 285px;
    padding: 0px 6px;
    border-radius: 10px;
}
.uudai a h3 {
    font-size: 20px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.uudai a h3 img {
    width: 50px;
    height: auto !important;
    margin-bottom: 10px;
}
.box_dn {
    height: 325px;
    text-overflow: ellipsis;
    overflow: hidden;
}
.list-dn a i{
    color: #027ec5 !important;
}
.bg-dn {
    background: url(../img/bg_dn.png);
    background-repeat: no-repeat;
    background-position: center;
    background-color: #e8e8e8;
    background-size: cover;
}
.box_kc2{
    text-overflow: ellipsis;
    overflow: hidden;
}
.title_dn{
        background: -webkit-linear-gradient(0deg, #053785 40%, #006CB6 100%);
        border: transparent;
}
.tit_th_khancap{
    background:#de0202;
    font-size: 20px;
    color: #333;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
    border: 1px solid #de0202;
    color: #fff;
}
.box_dn2 a{
    color:#fff;
}
.box_dn2 a h3 {
    text-transform: uppercase;
    text-align: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
}
.box1{
    background-color: #0072bc;
}
.box2{
    background: #00babc;
}
.box3{
    background: #00bc9b;
}
.box4{
    background: #00bc4b;
}
.box_dn2 {
    /* background: #0066cc; */
    /* color: #fff; */
    /* font-size: 14px; */
    /* font-weight: bold; */
    height: 123px;
    /* padding: 4px; */
     padding-top: 10px; 
    line-height: 24px;
    /* margin-bottom: 24px; */
    position: relative;
    border-radius: 10px;
}
.dn_4 {
    margin-top: -100px;
}

.box_diendan > h3 {
    text-align: center;
    text-transform: uppercase;
    /* border-bottom: 1px solid #fff; */
    /* padding-bottom: 5px; */
    /* min-height: 45px; */
    font-size: 16px;
    /* height: 53px; */
    line-height: 20px;
    font-weight: bold;
    /*margin-bottom: 15px;*/
}


.box_diendan {
    /*background: url(../img/bgfix2.png);*/
    background-repeat: no-repeat;
    background-position: center;

    background-size: cover;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 170px;
    padding: 4px;
    padding-top: 10px;
    line-height: 24px;
    margin-bottom: 24px;
    position: relative;
    text-align: left;
    border-radius: 10px;
}
.marquee {
    border-top: dotted 2px #fff;
    margin-top: 25px;
    padding-top: 5px;
}
.tit_item:before {
    content: "";
    border-bottom: 1px solid transparent;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
   /* border-top: 10px solid #ff0000;*/
    position: absolute;
    /* width: 50px; */
    bottom: 10px;
    left:15px;
}

.tit_item{
    position: relative;
}
.slider_connect .item a img {
    max-width: 150px;
    height: 100px;
    margin: auto;
    padding: 10px;
}
.title_message_news {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 0px;
}
.diendan_dn{
    background: #fff;
    padding:20px 17px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.dn_2 {
    background: #fff;
    /* padding: 20px 17px; */
    /* border-bottom-right-radius: 10px; */
    /* border-bottom-left-radius: 10px; */
    padding: 10px 0px;
    height: 414px;
    border-radius: 10px;
}
.pad_10{
    padding-top: 20px;
}
.header-dn {
    background: url(../img/bg_dn_header.png) no-repeat;
    /* -webkit-background-size: cover; */
    background-size: cover;
    height: 95px;
}
.menu-main h2 {
    text-transform: uppercase;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    margin: 25px 10px;
}
.menu-main{
    float: left;
}

.item_nb{
    font-size: 30px;
}
.box-fix h2 b {
    font-size: 2vw;
}
.box-fix {
    margin-top: 20px;
}
.box_dn2 a h3 i{
    margin-right: 10px;
}

.box_dn3{
    background: url(../img/bg_dn_1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.connect {
    background: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 20px;
}

.logo_pc {
    margin-top: 5px;
}
/* update doanh nghiệp  -----> */
.news_main {
    border-bottom: 1px dotted;
    padding-bottom: 20px;
}
.news_main a img {
    float: left;
    margin-right: 10px;
    /*width: 50%;*/
}
.news_main p {
    font-size: 14px;
    margin: 20px 0px;
}
.news_main h2 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding-top: 20px;
}
.box-ctdt {
    background: url(../img/dhc3.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.diendan_dn {
    background: #fff;
    padding: 10px 0px;
}
.box_th1 {
    background: url(../img/csdl1.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.box_th2 {
    background: url(../img/csdl2.png);
    background-size: cover;
    background-repeat: no-repeat;
}
.box_th3 {
    background: url(../img/csdl3.png);
    background-size: cover;
    background-repeat: no-repeat;
} 
.box_diendan {
    /* background: url(../img/bgfix2.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    height: 125px;
    padding: 4px;
    padding-top: 10px;
    line-height: 24px;
    margin-bottom: 5px;
    position: relative;
    text-align: left;
    border-radius: 10px;
}
.box_dd h3 {
    font-size: 19px;
    margin-left: 10px;
}
.box_th1 > h3 > img {
    width: 40px;
    margin-right: 10px;
}
.box_dd {
    height: 140px;
    padding: 45px 0px;
    border-radius: 20px;
}
.box_th3 >h3 > img {
    width: 30px;
    margin-right: 10px;
}
.modal_tt .modal-dialog {
    width: 60% !important;
    margin: 30px auto;
}
.news_main a img {
    height: 195px;
}
/*.message_news, .baocaotonghop{
    height: 700px;
}*/

.btn_tab {
    text-align: center;
    padding: 30px 50px;
}
.btn_tab li {
    padding: 1px;
    background: #fff;
    box-shadow: 0 0 2px #5f5f5f;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: 31.333333%;
    margin: 0px 5px 10px 0px;
    display: inline-block;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}
.nav>li {
    position: relative;
    /*display: block;*/
}
.btn_tab li a {
    background: #0e7ab2;
    color: #fff;
    text-transform: uppercase;
    /* font-family: 'Roboto-Regular'; */
    text-align: center;
    font-size: 14px;
    padding: 10px 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    color: #fff;
}
.btn_tab li.active a {
    background-color: #E67D21 !important;
}
.qts_head_mid_st .tab-content {
    padding: 13px 11px;
    box-shadow: 0 0 5px #5f5f5f;
    border-radius: 5px;
    margin: 0px 10px;
}
.tab-content {
    background: #fff;
}
#myModal .modal_style_up{
    background: url(../img/bg_modal.png);
    background-size: cover;
}
#myModal .modal-footer {
    text-align: left;
    margin-top: 15px;
    padding-top: 20px;
}
#myModal .modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
#myModal .modal-footer h3 {
    display: inline-block;
    color: #000 !important;
    /* text-transform: uppercase; */
    font-weight: bold;
    margin-right: 25px;
    font-size: 14px;
    margin-left: 30px;
}
#myModal form {
    display: inline-block;
}
#myModal .input-file-container {
    position: relative;
    width: 100px;
}
#myModal .modal-footer input {
    display: inline-block;
    font-size: 15px;
}

#myModal .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
#myModal .input-file-trigger {
    display: block;
    padding: 5px 10px;
    background: #39d2b7;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}
#myModal .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}