.list_kc_nd a i{
	color: #ff0000 !important;
}
.tit_item:before {
    content: "";
    border-top: 1px solid transparent;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    /* width: 50px; */
    bottom: 10px;
    left: 110px;
}
.box_nd2 > h3 {
    color: #fff;
    margin-left: 10px;
    /*text-align: center;*/
    /*border-bottom: 1px solid #fff;*/
    padding-bottom: 10px;
    margin-bottom: 10px;
    /*padding-top: 27px;*/
    font-size: 21px;
    line-height: 110px;
}
.box_nd2{
	color: #fff;
}
.box1{
	background: url(../img/bgfix2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-transform: uppercase;
}
.box2 {
    background: url(../img/bgfix2.png) !important;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center;
    text-transform: uppercase;
}
.box3{
	background: url(../img/bgfix2.png) !important;
	background-repeat: no-repeat;
	background-size: cover !important;
	background-position: center;
	text-transform: uppercase;
}
.box_nd{
	border-radius: 10px;
	height: 100px;
}
.item_nd{
	position: relative;
}
.item_nd:before{
	    content: "";
    border-top: 10px solid #ff0000;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 1px solid transparent;
    /* width: 50px; */
    bottom: -15px;
    left: 15px;
    position: absolute;
}
.box_diendan h3{
	/*margin-bottom: 25px;*/
}
.marquee {
    margin-top: 10px;
    padding-top: 10px;
}
.box_diendan {
    height: 180px;
}
.diendan_dn {
    padding: 20px 17px 0px;
}
.box_nd1{
	background: url(../img/nd4.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.box_nd3{
	background: url(../img/nd5.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.box_nd4{
	background: url(../img/nd6.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.box_nd5{
	background: url(../img/nd7.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.title_nql i{
	margin-right: 10px;
}
.box_nd_1{
	background:url(../img/bg_nd_2.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.box_nd_2{
	background:url(../img/bg_dn_1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.box_nd_3{
	background:url(../img/bg_nd_3.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.box_nd_4{
	background:url(../img/bg_nd_4.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.connect a {
    display: block;
    position: relative;
    overflow: hidden;
    /*border-radius: 5px;*/
    background-color: #565454bf;
    height: 112px;
    border-radius: 10px;
}
.ket_noi {
    margin: 10px;
}
.connect a h3 {
    font-size: 15px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    /* font-weight: bold; */
    color: #fff;
    text-transform: uppercase;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.pad-0{
	padding: 0px;
}
.system h2 {
    background: #ff0000;
    border: transparent;
}
.list-news li{
	margin-bottom: 10px;
}
.uudai {
    height: 155px;
    overflow: hidden;
    display: block !important;
}
.box_new h3{
    display: block !important;
}
.uudai a h3 {
    font-size: 16px !important;
    text-align: left !important;
}