@font-face{
	font-family:'BebasNeueRegular';
	src:url("../../fonts/bebasneue-webfont.eot");
	src:url("../../fonts/bebasneue-webfont.eot?#iefix") format("embedded-opentype"),url("../../fonts/bebasneue-webfont.woff") format("woff"),url("../../fonts/bebasneue-webfont.ttf") format("truetype");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family: 'BreuerCondensedBold';
	src: url('../../fonts/typetrust_-_breuercondensed-bold-webfont.eot');
	src: url('../../fonts/typetrust_-_breuercondensed-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/typetrust_-_breuercondensed-bold-webfont.woff') format('woff'),
		 url('../../fonts/typetrust_-_breuercondensed-bold-webfont.ttf') format('truetype'),
		 url('../../fonts/typetrust_-_breuercondensed-bold-webfont.svg#BreuerCondensed500') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BreuerCondensedRegular';
    src: url('../../fonts/typetrust_-_breuercondensed-regular-webfont.eot');
	src: url('../../fonts/typetrust_-_breuercondensed-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../fonts/typetrust_-_breuercondensed-regular-webfont.woff') format('woff'),
		 url('../../fonts/typetrust_-_breuercondensed-regular-webfont.ttf') format('truetype'),
		 url('../../fonts/typetrust_-_breuercondensed-regular-webfont.svg#BreuerCondensedRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
    font-family: 'DosisMedium';
    src: url('../../fonts/dosis-medium-webfont.eot');
    src: url('../../fonts/dosis-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/dosis-medium-webfont.woff') format('woff'),
         url('../../fonts/dosis-medium-webfont.ttf') format('truetype'),
         url('../../fonts/dosis-medium-webfont.svg#DosisMedium') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family:'ProximaNovaRegular';
	src: url('../../fonts/ProximaNova-Regular.otf') format("opentype");
}

@font-face {
	font-family:'ProximaNovaRegularItalic';
	src: url('../../fonts/ProximaNova-RegularItalic.otf') format("opentype");
}


@font-face {
	font-family:'ProximaNovaLight';
	src: url('../../fontsProximaNova-Light.otf') format("opentype");
}

@font-face {
	font-family:'ProximaNovaBold';
	src: url('../../fonts/ProximaNova-bold.otf') format("opentype");
}

@font-face {
	font-family:'ProximaNovaLightItalic';
	src: url('../../fonts/ProximaNova-LightItalic.otf') format("opentype");
}


@font-face {
	font-family:'proximanovabold';
	src:url("../../fonts/proximanova-bold-webfont.eot");
	src:url("../../fonts/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/proximanova-bold-webfont.woff") format("woff"),
		url("../../fonts/proximanova-bold-webfont.ttf") format("truetype"),
		url("../../fonts/proximanova-bold-webfont.svg#proximanovabold") format("svg");
		font-weight:normal;
		font-style:normal
}

@font-face {
	font-family:'proximanovalight';
	src:url("../../fonts/proximanova-light-webfont.eot");
	src:url("../../fonts/proximanova-light-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/proximanova-light-webfont.woff") format("woff"),
		url("../../fonts/proximanova-light-webfont.ttf") format("truetype"),
		url("../../fonts/proximanova-light-webfont.svg#proximanovalight") format("svg");
		font-weight:normal;
		font-style:normal
}

@font-face {
	font-family:'proximanovaregular';
	src:url("../../fonts/proximanova-regular-webfont.eot");
	src:url("../../fonts/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"),
		url("../../fonts/proximanova-regular-webfont.woff") format("woff"),
		url("../../fonts/proximanova-regular-webfont.ttf") format("truetype"),
		url("../../fonts/proximanova-regular-webfont.svg#proximanovaregular") format("svg");
		font-weight:normal;
		font-style:normal
}


@font-face {
    font-family: 'SanskritHelveticaRegular';
    src: url('../../fonts/sanskrit_helvetica-webfont.eot');
    src: url('../../fonts/sanskrit_helvetica-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/sanskrit_helvetica-webfont.woff') format('woff'),
         url('../../fonts/sanskrit_helvetica-webfont.ttf') format('truetype'),
         url('../../fonts/sanskrit_helvetica-webfont.svg#SanskritHelveticaRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SanskritHelveticaOblique';
    src: url('../../fonts/sanskrit_helvetica_oblique-webfont.eot');
    src: url('../../fonts/sanskrit_helvetica_oblique-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/sanskrit_helvetica_oblique-webfont.woff') format('woff'),
         url('../../fonts/sanskrit_helvetica_oblique-webfont.ttf') format('truetype'),
         url('../../fonts/sanskrit_helvetica_oblique-webfont.svg#SanskritHelveticaOblique') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SanskritHelveticaBold';
    src: url('../../fonts/sanskrit_helvetica_bold-webfont.eot');
    src: url('../../fonts/sanskrit_helvetica_bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/sanskrit_helvetica_bold-webfont.woff') format('woff'),
         url('../../fonts/sanskrit_helvetica_bold-webfont.ttf') format('truetype'),
         url('../../fonts/sanskrit_helvetica_bold-webfont.svg#SanskritHelveticaBold') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face{
	font-family:"HelveticaNeueW01-Thin";
	src:url("../../fonts/helvetica/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix");
	src:url("../../fonts/helvetica/56be84de-9d60-4089-8df0-0ea6ec786b84.eot?#iefix") format("eot"),url("../../fonts/helvetica/50d35bbc-dfd4-48f1-af16-cf058f69421d.woff") format("woff"),url("../../fonts/helvetica/278bef59-6be1-4800-b5ac-1f769ab47430.ttf") format("truetype"),url("../../fonts/helvetica/2e309b1b-08b8-477f-bc9e-7067cf0af0b3.svg#2e309b1b-08b8-477f-bc9e-7067cf0af0b3") format("svg");
}

@font-face{
	font-family:"HelveticaNeueW01-45Ligh";
	src:url("../../fonts/helvetica/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
	src:url("../../fonts/helvetica/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),url("../../fonts/helvetica/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("../../fonts/helvetica/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("../../fonts/helvetica/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}

@font-face{
	font-family:"HelveticaNeueW01-75Bold";
	src:url("../../fonts/helvetica/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix");
	src:url("../../fonts/helvetica/db853e0e-929b-4272-b420-c946c954cf3a.eot?#iefix") format("eot"),url("../../fonts/helvetica/4a9c62ab-b359-4081-8383-a0d1cdebd111.woff") format("woff"),url("../../fonts/helvetica/db5f9ba6-05a4-433a-9461-0a6f257a0c3a.ttf") format("truetype"),url("../../fonts/helvetica/25e09910-ffc3-4fc4-b0d1-db9a95dface8.svg#25e09910-ffc3-4fc4-b0d1-db9a95dface8") format("svg");
}


b, strong {
	font-weight: 500 !important;
}


.landing_bg {
	background: url("../img/landing-page/beta_bottom_bg.png") repeat-x scroll 0 bottom, url("../img/landing-page/beta_main_bg.jpg") no-repeat scroll center top, url("../img/landing-page/beta_pattern_bg.jpg") repeat scroll 0 0 transparent;  
}

.btn-cta i, .btn-outline i {
	padding-right: 10px;
}


/*** znaczniki ***/

h1,h2,h3,h4,img {
	margin:0px;
	padding:0px;
	border:0px;
}

a:link {
	text-decoration: none;
	background:none;
}

a:visited {
	text-decoration: none;
	background:none;
}

a:hover {
	text-decoration:underline;
	background:none;
}

a:active {
	text-decoration: none;
	background:none;
}

img {border:none;}

.pt10 { padding-top: 10px;}
.pt20 { padding-top: 20px;}
.pt30 { padding-top: 30px;}

.pb10 { padding-bottom: 10px;}
.pb20 { padding-bottom: 20px;}
.pb30 { padding-bottom: 30px;}

.pr10 { padding-right: 10px;}
.pr20 { padding-right: 20px;}
.pr30 { padding-right: 30px;}

.pl10 { padding-left: 10px;}
.pl20 { padding-left: 20px;}
.pl30 { padding-left: 30px;}


.mt10 { margin-top: 10px;}
.mt20 { margin-top: 20px;}
.mt30 { margin-top: 30px;}

.mb10 { margin-bottom: 10px;}
.mb20 { margin-bottom: 20px;}
.mb30 { margin-bottom: 30px;}

.mr10 { margin-right: 10px;}
.mr20 { margin-right: 20px;}
.mr30 { margin-right: 30px;}

.ml10 { margin-left: 10px;}
.ml20 { margin-left: 20px;}
.ml30 { margin-left: 30px;}

/*** menu ***/


.globNav {
	height: 18px;
	font-family: 'Oswald',sans-serif;
    font-size: 13px;
	background:none;
	display: block;
	color:#f1f1f1;
	text-decoration: none;
	text-transform:uppercase;
	padding:5px;
	padding-right:20px;
	padding-left:20px;
	float: left;
	border-right:solid #111111 1px;
}

.globitem {
	height: 18px;
	font: normal 1em/1.3 'Helvetica Neue', Arial, Helvetica, sans-serif;
	background:none;
	display: block;
	color:#f1f1f1;
	text-decoration: none;
	padding:5px;
	padding-right:20px;
	padding-left:20px;
	font-weight:bold;
	float: left;
	border-right:solid #111111 1px;
}

.globitem a {
	color:#ffffff;
	text-decoration:none;
}


.globitem a:hover {
	color:#ffffff;
}


.globNav a {
	color:#ffffff;
	text-decoration:none;
}

.globNav a:hover {
	border-bottom:solid #07c0a1 3px;
	color:#ffffff;
	padding-bottom:5px;
	text-decoration:none;
}

.globSelected a {
	font-family: 'Oswald',sans-serif;
	color:#ffffff;
	text-transform:uppercase;
	border-bottom:solid 3px #07c0a1;
	text-decoration:none;
	padding-bottom:2px;
}

.globSelected a:hover {
	border-bottom:solid #07c0a1 3px;
	color:#ffffff;
	padding-bottom:5px;
	text-decoration:none;
}

.globSelected {
	font-family: 'Oswald',sans-serif;
	height:18px;
	background:none;
	display: block;
	color:#f1f1f1;
	text-decoration: none;
	padding:5px;
	padding-right:20px;
	padding-left:20px;
	float: left;
	border-right:solid #111111 1px;
}


.register-btn {
        display: inline-block;
        margin-left: .1em;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: .30em .55em .40em;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
        line-height: 1;
        font: normal 0.8em/1.3 'Helvetica Neue', Arial, Helvetica, sans-serif;
        vertical-align: .1em;
        background-color: #ffffff;
        color: #333;
        text-shadow: none;
}

#register_area a {
	margin-left:10px;   
}

#register_area img {
	height:25px;
}

.badge-new {
        display: inline-block;
        margin-left: .1em;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        padding: .15em .4em .25em;
        background-color: #E71E17;
        color: #FFF;
        text-transform: uppercase;
        text-shadow: 0 1px 0 rgba(0, 0, 0, .2);
        line-height: 1;
        font-size: .75em;
        vertical-align: .1em;
}

.badge-new {
        background-color: #665E26;
        color: #FFDE00;
}

.badge-new {
        background-color: #FFDE00;
        color: #333;
        text-shadow: none;
}


html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
	background:transparent none repeat scroll 0 0;
	border:0 none;
	font-size:100%;
	margin:0;
	padding:0;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:0;
	vertical-align:baseline;
}



/*** body ***/

body {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: #333333;
	background-color: #F1F1F3;
/*	background-image:url(images/bg.png);*/
	-webkit-font-smoothing: antialiased;
	overflow-x:hidden;
}

#site {
	width:100%;
	margin: 0 auto;
	background-color:#ffffff;
}

.rainbow {
	width:100%;
	margin: 0 auto;
	background:url("../img/rainbow_main.png") repeat;
	height:5px;
}

.top_under {
	 width:100%; height:50px;
	 background-color:#000000;
}

.top_fixed {
	position:fixed; z-index:10; width:100%; height:50px;
}

#top {
	margin-top:0px;
	padding-top:0px;
	height:50px;
	background-color:#070008;
/*	background-image:url(../img/header_bg.png);*/
	background-repeat:repeat-x;
	text-align:center;
	border-bottom:solid #0f0f0f 1px;
}

#menu_holder {
	color:#074444;
	font-family:Arial,Helvetica,sans-serif;
	font-size:14px;
	font-style:normal;
	letter-spacing:0px;
	margin:0 auto;
	text-decoration:none;
	width:970px;
	word-spacing:normal;
}

#logo_holder {
	display:inline;
	float:left;
	height:50px;
	width:100px;
}

#logo {
	padding-top:0px;
	margin-left:0px;
}

#mainmenu {
	display:inline;
	float:left;
	height:40px;
	padding-top:10px;
	width:870px;
}

#switch_version {
	display:inline-block;
	float:right;
	position:relative;
}

#switch_version #current_version {
	width:40px;
	height:24px;
	background:url('../img/flags/24/us.png') 0 0 no-repeat;
	margin: 4px 0px 0px 15px;
	cursor: pointer;
}

#switch_version #current_version .current_version_arrow {
	width:40px;
	height:24px;
	background:url('../img/arrow_down.png') 30px 6px no-repeat;
}

#switch_version #select_version {
	position:absolute;
	display:none;
	margin: 5px 0px 0px -60px;
	padding: 5px 0;
	text-align:left;
}

#switch_version #select_version ul {
	list-style: none;
	margin: 0;
	padding: 0;
    
}

#switch_version #select_version ul li{
	list-style: none;
	margin: 0;
	padding: 0;
}

#switch_version #select_version ul li a{
	display: block;
	padding: 0px 10px 0px 37px;
	width:80px;
	height:36px;
	line-height:36px;
	background-position: 8px 6px;
	background-repeat: no-repeat;
	background-color: #fff;
	color: #000;
	font-family:Arial,Helvetica,sans-serif;
	font-size: 10px;
	text-decoration: none;
}

#switch_version #select_version ul li a:hover{
	background-color: #07c0a1;
	text-decoration: none;
}

#switch_version #select_version ul li #select_version_net{
	background-image:url('../img/flags/24/us.png');
}

#switch_version #select_version ul li #select_version_pl{
	background-image:url('../img/flags/24/pl.png');
}

#switch_version #select_version ul li #select_version_id{
	background-image:url('../img/flags/24/id.png');
}

#register_area {
	display:inline;
	float:left;
	height:40px;
	padding-top:10px;
	width:120px;
}

.reg_body {
		background-color:#f6f6f6;   
	}

	.reg_form {
		margin: 0 auto 15px;
		padding:30px;
		padding-top:30px;
		position: relative;
		width:425px;
		background-color:#FFFFFF;
		box-sizing: border-box !important;
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
		-webkit-box-shadow: 0 0 13px rgba(0,0,0,0.1);
		-moz-box-shadow: 0 0 13px rgba(0,0,0,0.1);
		box-shadow: 0 0 13px rgba(0,0,0,0.1);
	}
    
	.reg_form_input {
	   -webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
	   border-radius: 4px;
	   -moz-background-clip: padding;
	   -webkit-background-clip: padding-box;
	   background-clip: padding-box;
	   font-family: Arial,sans-serif;
	   font-weight: 300;
	   font-style: normal;
	   display: block;
	   width: 100%;
	   height: 39px;
	   margin: 0 0 10px;
	   padding: 0 0 0 16px;
	   border: 1px solid #d3d3d3 ;
	   background-color: #fff;
	   font-size: 16px;
	   color: #000;
        
	}
    
	.reg_form_user {
		margin-top:20px;
		color:#222222;
		font-size:14px;
		font-weight:normal;
	}
    
	.reg_form a {
		font-size:12px;
		font-weight:normal;
		color:#4267B2;
	}
    
	.reg_form .error {
		text-align: left;
		margin-bottom: 10px;
	}
        
	.reg_logo {
		margin-top:20px;
	}
    
	.reg_logo img {
		width:130px;
	}
    
	.reg_headline {
		color:#444444;
		font-family:Arial,sans-serif;
		font-weight: 700;
		font-size:40px;
		letter-spacing:-1px;
		margin-bottom:10px;
		margin-top:20px;
	}
    
	.reg_subheadline {
		font-family:Arial,sans-serif;
		font-size: 17px;;
		color: #999999;
		font-weight:100;
		line-height: 25px;
		letter-spacing:0px;
		margin-bottom:15px;
		padding-bottom:7px;
	}
    
	.reg_terms {
		font-family:Arial,sans-serif;
		font-size: 11px;;
		color: #999999;
		font-weight:100;
		line-height: 25px;
		letter-spacing:0px;
		margin-top:10px;
		text-align: left;
		padding-top: 20px;
	}

	.reg_terms #accept_terms, .reg_terms #accept_processing_data, .reg_terms #accept_receive_commercial_informations {
	    float: left;
    	margin-top: 7px;
	}
	
	.reg_terms label, .reg_terms .accept_processing_data_short, .reg_terms .accept_receive_commercial_informations_short{
		float: left;
	    width: 90%;
	    line-height: 17px;
	    margin: 0 0 15px 15px;
	}
    
	.btn_green {
		background-color: #5FC661 !important;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		color: #fff !important;
		font-family: sans-serif;
		letter-spacing:0px;
		font-size: 15px;
		text-transform:uppercase;
		font-weight:100;
		padding-top:14px;
		padding-bottom:14px;
		text-align: center;
		text-decoration: none;
		cursor:pointer;
		box-shadow:none !important;
		border: 0 none !important;
		width: 423px;
	}
    
	.btn_green:hover {
		color:#FFF;
		text-decoration:none;
		background-color:#85d387 !important; 
	}
    
	.btn_facebook_register{
		background: url('../img/icons/services/facebook-register-icon.png') 6% 8px no-repeat #3b5998;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
		border-radius: 4px;
		color: #fff !important;
		font-family: sans-serif;
		letter-spacing:0px;
		font-size: 15px;
		text-transform:uppercase;
		font-weight:100;
		padding-top:14px;
		padding-bottom:14px;
		text-align: center;
		text-decoration: none;
		cursor:pointer;
		box-shadow:none !important;
		border: 0 none !important;
		width: 423px; 
		margin-top: 10px;
	} 
    
	.register_button_or {
		font-size: 12px;
		color: #999;
		margin-top: 15px;
	}
    
	.btn_facebook_login{
	    background:  #3b5998;
	    -moz-border-radius: 4px;
	    -webkit-border-radius: 4px;
	    border-radius: 4px;
	    color: #fff !important;
	    letter-spacing: 0px;
	    font-size: 10px;
	    font-weight: 500 !important;
	    text-transform: uppercase;
	    padding: 11px 11px 11px;
	    text-align: right;
	    text-decoration: none;
	    cursor: pointer;
	    box-shadow: none !important;
	    border: 0 none !important;
	    margin-top: -10px;
	    width: 100% !important;
	    text-align: center;
	}

.testimonials {
	color:#ffffff !important;
	background-color:#000000 !important;    
}

.testimonials_quote {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 8em;
	font-weight:bold;
	color:#222;
}

.testimonials_text {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 13px;
    
    
	color:#222;
}

.testimonials_meta {
	font-family:Arial,Helvetica,sans-serif;
	font-size: 12px;
	color:#111111;
	margin-top:20px;
}

.main_heading {
	color: #ffffff;
    font-size: 32px;
    font-weight: 300;
    line-height: 38px;
	font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
}

.main_feature {
	/*background:url("../img/mainbg.jpg") no-repeat scroll center top transparent;*/
	background-color:#000;
	height:340px;
	padding-top:0px;
	margin:0 auto;
	background:url("../img/features/mainbg.jpg") no-repeat scroll center top, url("../img/features/mainbg_r.png") repeat scroll 0 0 transparent;
}

.main_feature_long {
	/*background:url("../img/mainbg.jpg") no-repeat scroll center top transparent;*/
	background-color:#000;
	height:410px;
	padding-top:25px;
	margin:0 auto;
	background:url("../img/features/mainbg_long.jpg") repeat-x scroll center top, url("../img/features/mainbg_long_r.png") repeat scroll 0 0 transparent;
}

.main_feature_pic {
	/*background:url("../img/mainbg.jpg") no-repeat scroll center top transparent;*/
	background-color:#000;
	background-size: cover;
	background-image: url("../img/features/mainsite_bg.jpg");
	background-position: center center;
	position: relative;
	height:450px;
	padding-top:40px;
}

.mainsite_headline {
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
	font-size:48px;
	-webkit-font-smoothing: antialiased!important;
	color:#FFF;
	letter-spacing:-1px;
	margin-bottom: 14px;
}

.mainsite_headtext {
	font-size: 18px;
	line-height: 26px;
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
	color: #f9f9f9;
	padding-top:10px;
	margin: 0 auto;
	width:600px;
}

.header_small_btn {
	padding:2px;
	padding-left:5px;
	padding-right:5px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	-khtml-border-radius:4px;
	font-family: 'Oswald',helvetica,arial,sans-serif;
	font-size:11px;
	text-transform:uppercase;
	color:#000;
	background-color:#fff !important;
	vertical-align:super;
	margin-right:10px;
}

.header_small_btn:hover {
	text-decoration:none !important;    
}

.mainsite_featpic {
	margin: 0 auto;
	width:700px;
	padding-top:30px;   
}

.mainsite_btn {
	margin-top:20px;    
}

.mainsite_btn a {
	background-color: #07c0a1 !important;
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),0 -1px 1px rgba(0,0,0,.28);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	border: 0px solid #730445;
	border-color: rgba(0,0,0,.1);
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 12px;
	font-weight: 400;
	text-transform:uppercase;
	line-height: 1;
	margin: 0;
	padding: 14px 20px 14px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	vertical-align:top;
	border-bottom-color: #136c61;
	border-bottom-width:3px;
}


.mainsite_btn a:hover {
	background-color:#10ccab !important;;
	color:#FFFFFF !important;

}

.mainsite_btn_light a  {
	moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	border:2px solid #ffffff;
	display:inline-block;
	color:#ffffff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 15px;
	padding:12px;
	margin:0px;
	text-decoration:none;
	letter-spacing:0px;
}

.mainsite_btn_light a:hover {
	color:#30b9f9;
	border:2px solid #30b9f9;
}

.sub_header {
	color: #222;
	font-size:34px;
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
	text-align: center; 
}

.sub_header_meta {
	margin:0 auto;
	font-family: 'ProximaNovaLight';
	font-size: 18px;
	line-height: 26px;
	color: #999999;
	text-align: center;
	margin-bottom:65px;
}

.mainsite_quote_author {
	margin-top:10px;
	font-size:14px;
	color:#aaa;
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
}

.mainsite_quote_text {
	font-size:14px;
	color:#777;
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
	line-height:21px;
}

.c_btn {
	background-color: #be3376 !important;
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),0 -1px 1px rgba(0,0,0,.28);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	border: 1px solid #730445;
	border-color: rgba(0,0,0,.1);
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	padding: 11px 17px 11px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	vertical-align:top;
}

.c_btn:hover {
	color:#FFF;
	text-decoration:none;
	background-color:#d93194 !important;
    
}

.c_btn_blue {
	moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    background: #1791D6  !important;
    color: #fff !important;
    font-size: 12px;
    padding: 8px 12px;
    display: inline-block;
    text-decoration:none;
	text-align: center;
	cursor: pointer;
	pointer-events: auto;
	letter-spacing: 0;
    border: none;
    font-weight: 500;
    font-size: 12px;
}

.c_btn_blue_tabs{
	position: absolute;
	top:8px;
	right: 20px;
}

.c_btn_red {
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    background: #e82e56 !important;
    color: #fff !important;
    font-size: 12px;
    padding: 8px 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
    letter-spacing: 0;
    border: none;
    font-weight: 500;
    font-size: 12px;
}

.c_btn_red:hover {
	background: #e82e56 !important;
	color: #fff !important;
}


.c_btn_green {
    moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    background: #008000 !important;
    color: #fff !important;
    font-size: 12px;
    padding: 8px 12px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    pointer-events: auto;
    letter-spacing: 0;
    border: none;
    font-weight: 500;
    font-size: 12px;
}

.price_table_sign_btn {
	margin-top: 7px;
	margin-left:12px;
	margin-right:12px;
	margin-bottom:30px;
}

.price_table_sign_btn a {
   background-color: #1ec4a0 ;
   -moz-border-radius: 4px;
   -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),0 -1px 1px rgba(0,0,0,.28);
   -webkit-border-radius: 4px;
   -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
   border: 1px solid #119e7f ;
   border-color: rgba(0,0,0,.1);
   border-radius: 4px;
   box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
   color: #fff;
   cursor: pointer;
   display: inline-block;
   font-family: sans-serif;
   letter-spacing: 0px;
   font-size: 11px;
   font-weight: 700;
   line-height: 1;
   margin: 20px 0 0 0;
   padding: 11px 17px 11px;
   text-align: center;
   text-decoration: none;
   text-transform: uppercase;
   text-shadow: 0 1px 0 rgba(0,0,0,.2);
   vertical-align: top;
   width: 82%;
}

.price_table_sign_btn a:hover {
	text-decoration: none;
    background-color: #25C3A1 !important;
    color: #fff !important;    
}

.grey_btn a {
	color: #333333 !important;
	text-shadow:none !important;
	border: 1px solid #e1e1e1 !important;
	background-color: #f1f1f1 !important;
}

.price_header {
	color: #222;
	font-size:34px;
	font-family:'ProximaNovaLight',Helvetica,Arial;
	font-weight:normal;
	margin-bottom:0px;
	text-align:center;
	margin-top:50px;
}

.price_header_meta {
	font-family: 'ProximaNovaLight';
	font-size: 18px;
	line-height: 26px;
	color: #999999;
	text-align:center;
	margin-bottom:40px;
}

.c_btn_grey {
	background-color: #efefef !important;
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),0 -1px 1px rgba(0,0,0,.28);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	border: 1px solid #b8b8b8;
	border-color: rgba(0,0,0,.1);
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	color: #666666;
	cursor: pointer;
	display: inline-block;
	font-family: sans-serif;
	letter-spacing:0px;
	font-size: 11px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	padding: 11px 17px 11px;
	text-align: center;
	text-decoration: none;
	text-transform:uppercase;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	vertical-align:top;
}

.c_btn_grey:hover {
	color:#FFF;
	text-decoration:none;
	background-color:#2fdcd8 !important;    
}

.c_btn_blue b {
    
}



.c_btn_b {
	background-color: #be3376 !important;
	-moz-border-radius: 4px;
	-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),0 -1px 1px rgba(0,0,0,.28);
	-webkit-border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	border: 1px solid #730445;
	border-color: rgba(0,0,0,.1);
	border-radius: 4px;
	box-shadow: inset 0 1px 0 rgba(255,255,255,.28),inset 0 -1px 1px rgba(0,0,0,.28);
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 16px;
	font-weight: 700;
	line-height: 1;
	margin: 0;
	padding: 11px 17px 11px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 rgba(0,0,0,.2);
	vertical-align:top;
}

.c_btn_b:hover {
	color:#FFF;
	text-decoration:none;
	background-color:#d93194 !important;
    
}

.feature_controls {
	/*background-color:#E9E9E9;*/
	height:10px;
	margin:0 auto;
}

.centralsite {
	margin:0 auto;
	text-decoration:none;
	word-spacing:normal;
}

.triangle_line {
	background: url("../img/landing-page/bottom_bg.png") repeat-x scroll 0 bottom, url("../img/mainbg.jpg") no-repeat scroll center top, #000000;   
}

.feature_headline {
	margin-top:10px;
	color: #ffffff;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
    font-size: 40px;
    font-weight: 300;
    line-height: 38px;
}

.feature_text {
	margin-top:15px;
	font-family:Helvetica,Arial,Tahoma,sans-serif;
	font-size:21px;
	line-height:20px;
	color:#f1f1f1;  
}

.feature_text_main {
	margin-top:0px;
	font-family:"Myriad Pro",Helvetica,Arial,Tahoma,sans-serif;
	font-size:16px;
	line-height:18px;
	color:#f1f1f1;  
}

.feature_btns {
	margin-top:20px;
	vertical-align:middle;
	margin-bottom:30px;
	height:50px;
}

.feature_btns img {
	margin-right:10px;  
}

.feature_option {
	height:50px;
	width: 180px;
	margin-right:10px;
	display:inline;
	float:left;
}

.feature_option_text {
	height:30px;
	padding-top:10px;
	padding-left:15px;
	width:200px;
	display:inline;
	float:left;
	color:#f071f1;
	font-family:"Myriad Pro",Helvetica,Arial,Tahoma,sans-serif;
	font-size:18px;
	line-height:1.4em;
	text-align:left;
}

.feature_option img {
	margin-left:0px;    
}

.headline_fanpage {
	color: #222222 !important;
	font-family: 'DosisMedium',arial,helvetica,sans-serif;
	font-size: 18px;
    font-weight:normal;
    text-shadow: -1px -1px 0 rgba(244, 244, 244, 0.1);
}

.headline_fanpage a {
	color: #222222 !important;
	font-family: 'DosisMedium',arial,helvetica,sans-serif;
	font-size: 18px;
    font-weight:normal;
    text-shadow: -1px -1px 0 rgba(244, 244, 244, 0.1);
}

.features {
    
}

.feats {
	color:#525252;
	margin-top:15px;
}

.feat_heading {
	color: #222222;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 300;
	margin-bottom:3px;
}

.feat_text {
	color: #666666;
    font: 14px Arial,FreeSans,Helvetica,Verdana,sans-serif;
    font-weight: 300;
	line-height: 1.4;
}

.feat_picture img {
	width:60px;
	/*padding:2px;
	border:solid #CCC 1px;*/
}

.feat_row {
	margin-bottom:30px;
}

.feat_row_testimonials {
	margin-bottom:30px;
	margin-top:100px
}

.headline {
	border-bottom: 1px dotted #DEDEDE;
	/*
    color:#222222;
    font-size: 1.8em;
    letter-spacing: -1px;
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans",Arial,Verdana,sans-serif;
    font-size:18px;
    line-height:1.4em;
	*/
	color: #222222 !important;
	font-family: 'Open Sans',arial,helvetica,sans-serif;
	font-size: 18px;
	font-weight: normal;
    
	margin-bottom:12px; 
}

.about_text {   
	color: #666666;
    font: 16px Arial,FreeSans,Helvetica,Verdana,sans-serif;
    font-weight: 300;
	line-height: 1.4;
	text-align:justify;
}

p.about_text { text-align:center; color:#666666; font-style: italic; }

.feat_small_logos {
	margin-top:10px;
}

.feat_small_logos img {
	margin-right:7px;
}

.sidebar {
	margin-top:20px;
}

.microblogs {
	margin-top:2px;
}

.microblogs a {
	margin-right:6px;
}

.newsletter {
	margin-bottom:25px;
}

.newsletter_input {
	background-color:#F3F3F3;
	border-top:1px solid #CCC;
	border-bottom:1px solid #fff;
	border-left:1px solid #CCC;
	border-right:1px solid #fff;
	border-radius:5px;
	color:#646F73;
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	height:24px;
	padding:3px;
	width:150px;
	vertical-align:middle;
}

.newsletter_text {
	color:#646F73;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px; 
}

.newsletter_send_btn {
	vertical-align:middle;
	margin-left:5px;
}

.news {
    
}

.single_news {
	margin-bottom:20px;
}

.news_title {
	color:#600262;
	font-family:"Myriad Pro",Helvetica,Arial,Tahoma,sans-serif;
	font-size:14px;
	line-height:1.4em;
	margin-bottom:1px;
}

.news_text {
	color:#525252;
	font-size:12px;
}

.news_meta {
	color:#600262;
	font-size:10px;
	margin-top:3px;
}


.clients {
	margin-top:15px;
}

.clients_heading {
	font:14px "Lucida Grande",Helvetica,Arial,sans-serif;
	color:#222222;
	margin-left:5px;
}

.infoBox {
	width:300px;
	height:500px;
	float:left;
	display:inline;
	font-family: Arial,Helvetica,sans-serif;
	font-size:14px;
	font-weight:normal;
	font-style:normal;
	color:#999999;
	letter-spacing:0px;
	word-spacing:normal;
	line-height:20px;
	margin-left:20px;
}


.input {

	background-color:#FAFBF3;
	border:2px solid #00CCCC;
	font-family:'trebuchet ms';
	font-size:12px;
	margin-bottom:3px;
	padding:1px 2px;

}

.err_field {color:red; font-size:10px; }
p.emphasize {font-style:italic; font-size:10px; color:#666666; }


.infoMessage {
	padding:20px;
	font-size:14px;
	font-family:"Arial","Helvetica",sans-serif;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
    border-radius: 10px;
    background-color: #f6f6f6;
    border: 3px solid #cfcfcf;
    color: #525252;
    width: 930px;
	text-align:center;
}


.infoMessageC {
	padding:20px;
	font-size:14px;
	font-family:"Arial","Helvetica",sans-serif;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
    border-radius: 10px;
    background-color: #f6f6f6;
    border: 3px solid #cfcfcf;
    color: #525252;
    width: 930px;
	text-align:center;
}

.infoMessageE {
	padding:20px;
	font-size:14px;
	font-family:"Arial","Helvetica",sans-serif;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
    border-radius: 10px;
    background-color: #f6f6f6;
    border: 3px solid #cfcfcf;
    color: #525252;
    width: 930px;
	text-align:center;
    
}

.infoMessageQ {
	padding:20px;
	font-size:14px;
	font-family:"Arial","Helvetica",sans-serif;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
    border-radius: 10px;
    background-color: #f6f6f6;
    border: 3px solid #cfcfcf;
    color: #525252;
    width: 930px;
	text-align:center;
}

.infoMessageI {
	padding:20px;
	font-size:14px;
	font-family:"Arial","Helvetica",sans-serif;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	-khtml-border-radius:10px;
    border-radius: 10px;
    background-color: #eceef5;
    border: 3px solid #cad4e7;
    color: #999999;
    width: 930px;
	text-align:center;
}

.featured_in_small {
	font-size:10px;
	font-family:"Arial","Helvetica",sans-serif;
	text-transform:uppercase;
	color:#666666;
	margin-bottom:20px;
}


.footer_panel {
	background-color:#000000;
	height:200px;
	padding:15px;
	border-top: 5px solid #eeeeee;
}

#footer {
	width:100%;
	margin: 0 auto;
	background-color:#121212;
	margin-top: -2px;
}

#footer a {
	color:#a4a4a4;
	font-size:10px;
	text-transform:uppercase;
}

#footer a:hover {
	color:#ffffff;
	font-size:10px;
	text-transform:uppercase;
	text-decoration:none;
}

#footer_menu {
	width:970px; min-height:270px; margin:0 auto; position: relative;
}

.footer_menu_in {
	margin:2px 0 5px 0;
	width:100%;
}

.footer_menu_in tr td { vertical-align: top; text-align: left; }

.footer_item {
    
	padding-bottom:5px;
}

.footer_item_head {
	color:#1791D6;
	margin-top:25px;
	font-weight:bold;
	text-transform:uppercase;
	padding-bottom:25px;
	font-size: 12px;
	font-family: Arial,Helvetica,sans-serif;
}

.footer_item a{
	color:#888888;
}

a.banner_ue{
	position:absolute;
	top:155px;
	left:0px;
	display: block;
	width: 446px;
	height: 66px;   
    background-image:url(../img/ue-banner-en.png);
    background-position:0px 0px;
    background-repeat: no-repeat;
}

.cookiePolicy{
    position:fixed;
    bottom:0;
    left:0;
    width:100%;
    height:40px;
    text-align:center;
    background:#fff;
    z-index:2147483635;
    -webkit-box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1);
    box-shadow:0px 0px 5px 1px rgba(0, 0, 0, 0.1)
}

.cookiePolicy p{
    color:#666;
    font-size:12px;
    line-height:42px;
    height:0;
}

.cookiePolicy p a{
    color:#8D3D8F;
}

.cookiePolicy span{
    position:absolute;
    top:12px;
    width:18px;
    height:18px;
    margin-left:10px;
    background-image:url(../img/close-btn.png);
    background-position:0px 0px;
    background-repeat: no-repeat;
    display:inline-block;
    cursor:pointer;
    opacity:0.5;
}

.cookiePolicy span:hover{
    opacity:1;
}
/* Easy Slider */
.slider_buttons {
	text-align:right;
	width:100%;
}

.slider_buttons_holder img {
	margin-top:2px;
}

.slider_buttons_holder {
	background-image:url(../img/buttons_holder.png);
	width:50px;
	height:15px;
	float:right;
	text-align:center;
}

#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
}

#slider li{ 
	width:970px;
	height:325px;
	overflow:hidden; 
}
    
span #prevBtn{

}
    
span #nextBtn{
        
}

/* // Easy Slider */

.registry_heading {
	border-bottom:1px solid #E3E3E3;
	color:#444444;
	font-size:22px;
	font-weight: 300;
	letter-spacing:0px;
	margin-bottom:15px;
	padding-bottom:15px;
}

.registry_heading span {
	color:#bbbbbb;
	font-weight:normal;
	font-size:18px;
	letter-spacing:-1px;
}

.registry_form {
	margin:15px;
	margin-left:25px;
	margin-right:25px;
}

.registry_form_personal {
	color:#222222;
	font-size:14px;
	font-weight:normal;
	margin-bottom:30px;
}

.registry_form tr {
	height:50px;
}

.register_input {
   -moz-border-radius: 5px;
   border-radius: 5px;
   background-color: #ffffff ;
   border: 1px solid #1791D6 ;
   color: #1791D6 ;
   font-size: 14px;
   margin: 0;
   padding: 10px;
   width: 100%;
}



.login_input {
    border: 1px solid #a4c3ca;
    background: #E0F2FC;
    -moz-border-radius: 50px 3px 3px 50px;
    color: #555555;
    font-size: 14px;
    font-weight: 600;
    outline: medium none;
    margin: 0;
    padding: 8px;
    width: 100%;
}

.login_input:focus {
	border:1px solid #1791D6;
	color:#999999;
	background: none repeat scroll 0 0 #fefefe;
}


.registry_form_user {
	margin-top:20px;
	color:#222222;
	font-size:14px;
	font-weight:normal;
}

.registry_form_rules {
	font-size:12px;
	color:#999;
}

.registry_form_rules a {
	font-size:12px;
	font-weight:normal;
	color:#5B025C;
}

.register_btn {
	margin-top:20px;
	text-align:left;
}

.registry_sidebar {
	margin-top:20px;
}

.registry_feat {
	padding:10px;
}

.registry_feat_title {
	margin-top:30px;
	font-size:24px;
	color:#111111;
	font-weight:700;
}

.registry_feat_meta {
	font-size:16px;
	color:#888888;
	font-weight:400;
}

.registry_form_personal_submeta {
	font-size: 11px;
    color: #89919A;
    font-weight: 400;
    padding-top: 4px;
}

.login_form {
	margin:40px 0 40px 0;
	width:400px;
	padding:20px;
	padding-bottom:25px;
	background-color:#FFFFFF;
    
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-box-shadow: 0 0 13px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 0 13px rgba(0,0,0,0.1);
	box-shadow: 0 0 13px rgba(0,0,0,0.1);
}
.register_form {
    margin: 40px 0 40px 0;
    width: 350px;
    padding: 20px;
    padding-bottom: 25px;
    background-color: #FFFFFF;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: 0 0 13px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 13px rgba(0,0,0,0.1);
    box-shadow: 0 0 13px rgba(0,0,0,0.1);
}
.login_form input[type=checkbox] { vertical-align:middle; }

.login_form_user {
	margin-top:20px;
	color:#222222;
	font-size:14px;
	font-weight:normal;
}

.login_form a {
	font-size:12px;
	font-weight:normal;
	color:#4267B2;
}


.login_title {
	border-bottom:1px solid #E3E3E3;
	color:#444444;
	font-family:Arial,Tahoma,Verdana,sans-serif,Georgia;
	font-size:22px;
	font-weight:bold;
	letter-spacing:-1px;
	margin-bottom:10px;
	padding-bottom:7px;
}

.login_btn {
	margin-top:20px;
	
}

.login_btn .c_btn_blue, .login_btn .btn_facebook_login {
	width: 100% !important;
}

.login_form_user tr {
	height:40px;
}

.error {
	margin-top:10px;
	text-align:center;
	font-size:12px;
	color:#B51A73;
}

#sourceInfoUrlResults {
	font-size:14px;
}

#sourceInfoAuthorResults {
	font-size:14px;
}

.main_feature_subpage {
	background-color:#f4f4f4;
	margin:0 auto;
	margin-top:0px;
}

.price_table_header img {
	height:10px;
}

.features_subpage {
	border-top:#57406C solid 3px;
	min-height:600px;
}

.subpage_headline {
    border-bottom: 1px solid #BCBCBC;
	font-size: 18px;
    font-weight: bold;
    letter-spacing: -0.03em;
    line-height: 36px;
	color:#333;
}

.subpage_headline h1{
	margin:0px;
	padding:0px;
}

.price_table * {
   box-sizing: border-box !important;
}

.price_table {
	color: #DDDDDD;
    font: 16px/20px Helvetica,Arial,sans-serif;
	padding-top:5px;
	margin-top:5px;
	padding-bottom:20px;
	margin-bottom:5px;
}

.price_table_netto {
	color:#666;
	font-size:14px; 
	text-align:center;
	padding-bottom:15px;
}

.price_table_subheader {
	text-align:center;
	padding-top:25px;
}

.price_table_h {
	text-align:center;
	margin-left:12px;
	margin-right:12px;
	padding-top:12px;
}

.price_table_h_personal {
	color: #999;
    font-size: 12px;
    font-weight: bold;
}

.price_table_h_professional {
	color: #29c6a9;
    font-size: 12px;
    font-weight: bold;
}

.price_table_h_sub {
	color: #232323;
    font-size: 22px;
    font-weight: bold;
	margin-bottom:10px;
}

.price_table_head {
	margin-left:12px;
	margin-right:12px;
	padding-top:12px;
}

.price_table_head_personal {
	color: #666666;
    font-size: 12px;
    font-weight: bold;
}

.price_table_head_professional {
	color: #AE00AE;
    font-size: 12px;
    font-weight: bold;
}

.price_table_head_sub {
	color: #232323;
    font-size: 22px;
    font-weight: bold;
	margin-bottom:10px;
}


.price_table_head_sub span {
	color: #B700BB;
}

.price_table_head_main {
	color: #B700BB;
    font-size: 28px;
    letter-spacing: -1.5px;
    font-weight: bold;
	font-style:italic;
}

.price_table_head_main span {
	color: #666666;
    font-size: 10px;
    text-transform: uppercase;
	letter-spacing:-1px;
	font-weight:normal;
	margin-left:5px;
}

.price_table_header {
    color: #efefef;
	padding-top:0px;
	text-align:center;
}

.price_table_item {
	border-bottom:solid 1px #CCCCCC;
	margin-left:12px;
	margin-right:12px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:12px;
}

.price_table_item img {
	vertical-align:middle;
	margin-right:5px;
}

.price_table_elem {
	margin-left:12px;
	margin-right:12px;
	padding-top:5px;
	padding-bottom:5px;
	text-align:center;
	font-size:12px;
}

.price_table_tag {
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:5px;
	text-align:center;
	color:#29c6a9;
	font-family:'HelveticaNeueW01-75Bold','helvetica neue',helvetica,arial,sans-serif;
	font-size:34px;
    
}

.price_table_tag_mth{
	font-size:10px;
	color:#bbb;
	margin-top:3px;
	margin-bottom:10px;
}

.price_table_desc {
	border-top:dotted 1px #CCCCCC;
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:10px;
	margin-bottom:5px;
	text-align:left;
	font:12px/1.4 Arial,FreeSans,Helvetica,Verdana,sans-serif;
	color:#333;
	min-height:100px;
	border-bottom:dotted 1px #CCCCCC;
}

.price_table_h_desc {
   border-top: dotted 1px #CCCCCC ;
   margin-left: 12px;
   margin-right: 12px;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-bottom: 5px;
   text-align: center;
   font-family: Arial;
   font-size: 14px;
   font-weight: normal;
   color: #666;
   min-height: 100px;
   border-bottom: dotted 1px #CCCCCC ;
   min-height: 105px;
}

.price_table_btn {
	margin-left:12px;
	margin-right:12px;
	padding-top:10px;
	padding-bottom:15px;
	text-align:center;
}

.price_table_item_last {
	margin-left:12px;
	margin-right:12px;
	padding-top:5px;
	padding-bottom:5px;
	font-size:12px;
}

.price_table_meta {
	border-bottom:solid 1px #777777;
	margin-left:12px;
	margin-right:12px;
	padding-top:5px;
	padding-bottom:5px;
}


.price_table_column {
	color:#000;
	/*background:url("../img/price/price_table_bg.png") repeat-x;*/
	background-color:#f4f4f4;
	font-weight:500;
	letter-spacing:0px;
	-moz-border-radius: 8px 8px 8px 8px;
	position:relative;
	margin-right:10px;
}

.price_column {
	color:#000;
	/*background:url("../img/price/price_table_bg.png") repeat-x;*/
	background-color:#ffffff;
	font-weight:500;
	letter-spacing:0px;
	-moz-border-radius: 8px 8px 8px 8px;
	position:relative;
	margin-right:10px;
}

.price_column_h {
	color:#000;
	/*background:url("../img/price/price_table_bg.png") repeat-x;*/
	background-color:#ffffff;
	font-weight:500;
	letter-spacing:0px;
	moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	position:relative;
	margin-right:10px;
	border:1px solid #f1f1f1;
	padding-top:26px;
}


.price_column_feat {
	color:#000;
	/*background:url("../img/price/price_table_bg.png") repeat-x;*/
	background-color:#ffffff;
	font-weight:500;
	letter-spacing:0px;
	moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	position:relative;
	margin-right:10px;
	border:3px solid #1ec4a0;
	padding-top:26px;
}

.price_column_sel {
	color:#000;
	/*background:url("../img/price/price_table_bg.png") repeat-x;*/
	background-color:#ffffff;
	font-weight:500;
	letter-spacing:0px;
	moz-border-radius:4px;
	-webkit-border-radius:4px;
	-khtml-border-radius:4px;
	border-radius:4px;
	position:relative;
	margin-right:10px;
	border:3px solid #1ec4a1;
	padding-top:22px;
}

.price_table_label {
	position:absolute;
	top:0px;
	left:0px;
	right:0px;
	margin:0 auto;
	width:120px;
	padding:2px;
	background-color:#1ec4a0;
	moz-border-radius:0px 0px 4px 4px;
	-webkit-border-radius:0px 0px 4px 4px;
	-khtml-border-radius:0px 0px 4px 4px;
	border-radius:0px 0px 4px 4px;
	font-family: "Helvetica Neue",helvetica,arial,sans-serif;
	font-size: 11px;
	font-weight: 800;
	text-transform: uppercase;
	color:#fff;
	text-align:center;
    
}

.sub_pricing_meta {
	margin: 0 auto;
	width: 600px;
	font-family: 'proximanovalight',Helvetica,Arial;
	font-weight: normal;
	font-style: normal;
	font-size: 17px;
	line-height: 21px;
	color: #999;
	text-align: center;
	margin-top: 40px;
	padding-bottom: 45px;
}

.sub_pricing_meta span{
	font-family: 'proximanovaBold',Helvetica,Arial;
}

.price_table_column_meta {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans","DejaVu Sans",Arial,Verdana,sans-serif;
    font-size: 13px;
    letter-spacing: -1px;
    line-height: 19px;
}



.price_plans_info {
	margin-top:35px;
	margin-bottom:55px;
}

.price_free_plan {
    color: #777777;
	text-align:center;
	font-size:13px;
	font-style:italic;
	font-weight:600;
	padding-top:15px;
}

.price_table_head_sub img {
	vertical-align:middle;
	margin-right:8px;
}

.price_free_plan a{
	color:#B700BB;
}

.feature_definitions {
	margin-top:30px;
	margin-bottom:50px;
}

.feature_definitions_item {
	margin-bottom:15px;
}

.price_clients {
	margin-bottom:50px;
	margin-top:30px;
}

.price_whitelabel_meta {
	color: #666666;
    font: 300 12px/1.3 Arial,FreeSans,Helvetica,Verdana,sans-serif;
	border-top: 1px dotted #DEDEDE;
	padding-top:10px;
	margin-top:10px;
}

.price_payments {
	margin-top:20px;
}

.price_payments img {
	width:100%;
}

.price_table_plan_promo {
	background:url("../img/price/price_plan_promo.png") no-repeat;
	height: 92px;
    right: -5px;
    position:absolute;
	display: block;
    top: -5px;
    width: 91px;
    z-index: 20;
}

.price_method_pic {
	text-align:center;
}
    
.price_method_radio {
	margin-top:20px;
	margin-bottom:20px;
	text-align:center;
	color: #333333;
    font: 12pt Arial,FreeSans,Helvetica,Verdana,sans-serif;
	font-weight:bold;
}

.price_method_radio input{
    
}

.price_method_text {
	color: #333333;
    font: 12px/1.4 Arial,FreeSans,Helvetica,Verdana,sans-serif;
}

.price_method_info {
	margin-top:25px;
	padding-top:25px;
	border-top: 1px dotted #DEDEDE;
	margin-bottom:20px;
	color: #333333;
    font: 12px/1.4 Arial,FreeSans,Helvetica,Verdana,sans-serif;
}

.price_method_btn {
	margin-bottom:50px;
}

.account_until {
	color: #888888;
    font-size: 14px;
    font-weight: 400;
}

.account_until_big {
	color: #111111;
    font-size: 22px;
    font-weight: 700;
}

.rules_main {
	margin-top:25px;
	color: #888888;
    font-size: 12px;
    font-weight: 400;
	letter-spacing:0px;
	text-align:justify;
}

.rules_header {
	color: #888888;
    font-size: 16px;
    font-weight: 700;
	letter-spacing:0px;
	text-transform:uppercase;
}

div.error_form_div
{
	font-size:12px;
	color:#990000;
	font-weight:bolder;
}

.information_text {
	color: #888888;
    font-size: 16px;
    font-weight: 400;
}

.product_info {
	margin-top:30px; margin-bottom:30px;
	color: #666666;
	font-size: 14px;
}

.product_info img { }
.product_info p {text-align:left;}

.product_info ul {
    font-style: italic;
    text-align: left;
	list-style-type: square;
	margin-left: 10px;
}

.product_info ul li {
    
}

.product_headline {
	border-bottom: 1px dotted #DEDEDE;
	padding-bottom:3px;
	font-family: Arial,Helvetica,sans-serif;
    font-size: 30px;
    font-weight: 300;
	color:#222222;
	letter-spacing:-1px;
	margin-bottom:12px; 
}

.product_headline_main {
	padding-bottom:3px;
	font-family: Arial,Helvetica,sans-serif;
    font-size:4em;
    font-weight:bold;
	color:#555555;
	letter-spacing:-4px;
	margin-bottom:12px; 
}

.product_feat_heading {
	font-size:24px;
    letter-spacing: -1px;
	font-weight:bold;
	color:#555555;
}

.product_feat_info {
	font-size:12.7px;
	color:#555555;
	line-height:21px;   
}



.product_feats {
	border-top:dotted 1px #CCCCCC;
	padding-top:60px;
	margin-top:40px;    
}


div.product_headline img {vertical-align:middle;} 

.product_headline h1,h2,h3 {display:inline; vertical-align:middle; }

.product_menu table {
	margin-top:25px;
}

.product_menu table tr {
	height: 30px;
	vertical-align: top;    
}

.product_menu a {
	background-color: #333333;
    background-image: none;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 5px 10px;
    text-decoration: none;
	margin-right:25px;
	height:30px;
}

.feature_headline_main {
	padding-bottom:3px;
	font-family: "proximanovabold",Arial,Helvetica,sans-serif;
    font-size:6em;
	line-height:50px;
	color:#ffffff;
	letter-spacing:-2px;
	margin-bottom:12px; 
}

.text_description
{
	color:#888888;
	font-style:italic;
    
}

.info_clients {
	padding-bottom:14px;
	margin-bottom:20px;
}

.feat_info_heading {
	font-size: 20px;
	color: #363f48;
	line-height: 1.45;
	font-family: "proximanovaregular",sans-serif;
	font-weight:normal !important;
	margin-bottom:3px;
}

.feat_info_text {
	color: #363f48;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	-webkit-font-smoothing: antialiased;
    font-size: 13px;
    line-height: 22px;
}

.media_about {
	padding-bottom:50px;
}

.info_headline {
	border-bottom: 1px dotted #DEDEDE;
	padding-bottom:3px;
	font-size: 15px;
    font-weight: bold;
	color:#222222;
    
	margin-bottom:12px; 
}

.feat_controls {
	background-color:#ffffff;
	height:15px;
	margin:0 auto;
}

.main_feature_sub {
	margin:0 auto;
	background-color:#ffffff;
}

@media all and (max-width:800px) {
	.main_feature_sub {
		overflow-x: hidden;
	}

	.main_feature_sub .clients img {
		max-width: 100% !important;
	}
}

.testimonial_head {
	font-size: 15px;
    font-weight: bold;
    text-shadow: -1px -1px 0 rgba(244, 244, 244, 0.1);
	margin-bottom:3px;
	color:#333333;
	margin-top:12px;
}

.testimonial_head span {
	font-weight:normal;
	color:#444444;
}

.testimonial_text {
	color: #888888;
    font-family: 'pt sans',arial,helvetica,sans-serif;
    font-size: 12px;
    line-height: 18px;
	margin-top:4px;
}

.user_role_check {
	margin-bottom:10px;
}

.users_role_head {
	font-size:13px;
	font-weight:500;
	height:30px;
}

.user_role_desc {
	text-align:center;
	font-weight:normal;
	font-size:10px;
	margin-top:15px;
	border-top:dotted 1px #ededed;
	padding-top:4px;
	color:#666;
}


.info_clients_site img {
	max-width:220px;
}

.info_clients_site table {
	margin-bottom:30px;
}

#newsletter_form_result {
	font-size: 16px;
	font-family: 'Oswald',sans-serif;
	text-transform: uppercase;
	color:#0dafee;
	padding-bottom:10px;
	height:25px;
}

.right_text { text-align: center; color:#666666;}


div#socialmedia_tab{
	   	position: fixed;
	   	right:0px;
		top:100px;
	   	z-index:5000;
	   }
      
#socialmedia_tab a {
	     display:block;
	     /*Edit these to change the look of your tab*/
		 border:none;
	     margin-top:0px;
}

.socialmedia_tab_item {
	margin-bottom:10px;
}


.prod_menu {
	padding-top:34px;
}

.prod_menu p.right_text { display:none; }

.prod_menu_item {
	margin-bottom:10px;
	border-bottom:dotted 1px #eeeeef;
}

.prod_menu_item img {
	width:30px;
	vertical-align:middle;
}

.prod_menu_item a {
	font-size: 15px;
	color:#333;
}

.prod_menu_item a:hover {
	text-decoration:none;
}

.product_others {
	margin-bottom:30px;
}

.product_others li {
	background-color: #f9f9f9;
    background-image: none;
    border-radius: 5px 5px 5px 5px;
    color: #666666;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 11px;
    font-weight: bold;
    letter-spacing: 0;
    padding: 5px 10px;
    text-decoration: none;
	display:table-cell;
	height:30px;
	margin-bottom:10px;
	margin-right:10px;
	list-style:none;
}

.product_headline a {
	color: #222222;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: -1px;
}

.product_headline a:hover {
	text-decoration:none;
}

#help_search_box {
	background: #fff;

	padding: 5px 10px;
	max-height: 400px;
	overflow: auto;

	position: absolute;
	z-index: 99;

	border: 1px solid #A9A9A9;
	border-width: 0 1px 1px 1px;

	-webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
}

#search_input {font-size:24px; padding:5px; border: 1px solid #666666; width:350px; }

div#pdf_tab{
	   	position: fixed;
	   	right:0;
	   	top:0;
	   	z-index:5000;
}
      
#pdf_tab a {
	     display:block;
	     /*Edit these to change the look of your tab*/
		 border:none;
	     margin-top:0px;
}
      
#pdf_tab a:hover{
	   	border-color: orange;
}

#vote_item {
	margin-top:10px;
	padding:5px;
	float:right;
	width:160px;
	text-align:center;
	background-color:#f0f0f0;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-weight:500;
	font-size:12px;
}

.headline_dark {
    color: #212121;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial;
    font-size: 40px;
    font-weight: 300;
    line-height: 38px;
    margin-top: 10px;   
}

.beta_input {
    position: relative;
    width: 320px;
	margin-top:15px;
	height:60px;
    
}


.input_single {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom-left-radius: 4px;
    border-color: #CCCCCC -moz-use-text-color #CCCCCC #CCCCCC;
    border-style: solid none solid solid;
    border-top-left-radius: 4px;
    border-width: 1px 0 1px 1px;
    float: left;
    font-size: 14px;
    height: 15px;
    outline: medium none;
    padding: 13px 25px 12px 15px;
    width: 190px;
}

#beta-signup {
    background: none repeat scroll 0 0 #512766;
    border: 0 none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: 500;
    height: 42px;
    padding-bottom: 2px;
    width: 86px;
}


.beta_input_black {
    position: relative;
    width: 420px;
	margin-top:15px;
	height:80px;
    
}

.input_single_black {

    background: none repeat scroll 0 0 #111111;
	color:#FFFFFF;
    border-bottom-left-radius: 4px;
    border-color: #000000 #0dafee #000000 #000000 !important;
    border-style: solid none solid solid;
    border-top-left-radius: 4px;
    border-width: 1px 0 1px 1px;
    float: left;
    font-size: 16px;
	font-family: 'Oswald',sans-serif;
	text-transform:uppercase;
    height: 35px;
    outline: medium none;
    padding: 13px 25px 12px 15px;
    width: 270px;
}


#beta-signup_black {
    background: none repeat scroll 0 0 #0dafee;
    border: 0 none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    font-size: 14px;
    font-weight: 500;
    height: 62px;
    padding-bottom: 2px;
    width: 106px;
}

.bl_header {
	width:100%;
	display:table;
	color:#CCCCCC;
	text-transform:uppercase;
	font-size:10px;
	margin-bottom:50px;
}

.bl_header img {
	vertical-align:middle;
	margin-right:5px;
	height:14px;
}

.bl_header_side {
	display:table-cell;
	width:auto;
	vertical-align:middle;
}

.bl_header_side_in {
	display:table;
	border-top:dotted #CCC 1px;
	width:100%;
	margin-top:1px;
}

.bl_header_center {
	display:table-cell;
	text-align:center;
	width:100px;
}

dl{
	text-align:left;
	margin-top: 10px;
}
dl dt{
	color: #222222;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    font-weight: 300;
	display: inline;
}
dl dd{
	display: inline;
	color: #666666;
    font: 14px Arial,FreeSans,Helvetica,Verdana,sans-serif;
    font-weight: 300;
	line-height: 1.4;
}

.payments-details â€‹*, .setup-your-monitoring *â€‹, .registry_form_personal * {
	box-sizing: content-box !important;
} 

#progressyt {
	position: fixed;
	z-index: 2147483647;
	top: 0px;
	left: -6px;
	width: 1%;
	height: 4px;
	background: #07c0a1;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	border-radius: 1px;
	-moz-transition: width 500ms ease-out,opacity 400ms linear;
	-ms-transition: width 500ms ease-out,opacity 400ms linear;
	-o-transition: width 500ms ease-out,opacity 400ms linear;
	-webkit-transition: width 500ms ease-out,opacity 400ms linear;
	transition: width 500ms ease-out,opacity 400ms linear;
}


.login-link {
	position: absolute;
	right: 20px;
	top: 20px;
}

.btn-outline-login {
	padding: 8px 16px;
	border-radius: 4px;
	color: #444;
	border: solid 1px #444444;
	margin-left: 10px;
}

.btn-outline-login:hover {
	background:#1791D6;
	color:#fff;
	border:1px solid #1791D6;
}


/****** NEW HEADER ******/

header.header {
	padding-bottom: 120px;
	background-color: #000;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
}




.header h1 {
	font-size: 50px;
	color: #FFFFFF;
	line-height: 47px;
	font-weight: 300;
	padding: 80px 0 30px 0;
	text-shadow: 1px 1px 6px #000;
}

.header h2 {
	font-weight: 300;
	font-size: 28px;
	
	line-height: 44px;
	color: #EAEBEE;
	position: relative;
	width: 100%;
	text-shadow: 1px 1px 6px #000;
	padding-bottom: 20px;
}

.hero-description {
	font-weight: 300;
	font-size: 18px;
	color: #B3B9C6;
	line-height: 27px;
	margin-bottom: 50px;
	text-align: center !important;
}


/****** CUSTOMER SUBPAGE HEADER ******/


body.customers .header {
	padding-bottom: 80px;
	background: url(../img/customers-header.jpg);
	background-size: cover;
	background-position: center center;
}

body.customers .header .btn-cta {
	background-color: #1791D6 !important;
	color: #fff !important;
	border: none !important;
}



/****** NEW DIALBOXES FOR PRICES PAGE ******/

body.prices .ui-widget-content {
	font-size: 14px !important;

}

body.prices .ui-widget-header {
	background:none !important;
    border: none !important;
    border-bottom: 1px solid #e2e2e2;
    border-radius: 0 !important;
}

body.prices .ui-dialog .ui-dialog-titlebar-close {
	background: url('/static/js/new/jquery-ui/images/ui-dialog-close.png') no-repeat;
	background-position: center center;
	border: none !important; 
}

body.prices .ui-dialog .ui-dialog-buttonpane button {
	border-radius: 3px !important;
	padding: 6px 12px !important;
}

body.prices .ui-dialog-buttonset {
	width: auto !important;
	display: block !important;
	margin: 0 auto !important;
	float: none !important;
}

body.prices .ui-dialog .ui-dialog-buttonpane button:first-child  {
	background:#1791D6 !important;
	border: none !important;
	color: #fff !important;
	display: block !important;
	margin: 15px auto !important;
}

body.prices .ui-dialog .ui-dialog-buttonpane button:last-child  {
	background:#fff !important;
	border-bottom: #1791D6 solid 1px !important;
	border-radius: 0 !important;
	color: #1791D6 !important;
	display: block !important;
	margin: 0 auto !important;
}


body.prices .ui-tooltip {
	font-size: 11px !important;
	box-shadow: none !important;
}